[submodule "desktop"]
	path = desktop
	url = https://github.com/Werewolf-Solutions/desktop
	branch = master
[submodule "accounting"]
	path = accounting
	url = https://github.com/Werewolf-Solutions/accounting
	branch = master
